﻿<div class="row offset-2">
	@foreach (var item in Model.Telescopes)
	{
		<div class="col-md-4 mb-5">
			<div class="card" style= "max-width: 400px; height: 100%;" >
				<img src="@item.Img" class="card-img-top" style="width: 100%; max-height: 250px;	">
				<div class="card-body">
					<h5 class="card-title">@item.Name</h5>
					<p class="card-text">@item.Description</p>
					<p class="card-text">$@item.Price</p>
				</div>
						<div class="card-footer" style="text-align: center">
						</div>
			</div>
		</div>
	}
</div>