@model List<Telescope>
@{
	ViewData["Title"] = "Список позиций";
	var request = ViewContext.HttpContext.Request;
	var returnUrl = request.Path + request.QueryString.ToUriComponent();
	string? category = "";
	if(request.Query["category"].ToString() == ""){
		category = "Все";
	}
	else
	{
		category = request.Query["category"];
	}
	int currentPage = ViewData["currentPage"] as int? ?? 1;
	string currentCategory = ViewData["currentCategory"] as string ?? "Все";
	
	int totalPages = ViewData["totalPages"] as int? ?? 1;
	bool previousAvailable = currentPage != 1;
	bool nextAvailable = currentPage != totalPages;

	var TelescopeCategoryList = ViewData["allCategories"] as List<Category> ?? new List<Category>();
}

<div class="container">
	<!-- categories dropdown -->
	<div class="dropdown col-sm-1 mt-4">
		<button class="btn btn-secondary dropdown-toggle" style="min-width: 200px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			@currentCategory
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li style="min-width: 200px">
				<a class="dropdown-item"
				   asp-controller="Product"
				   asp-action="Index"
				   asp-route-category="Все"
				   asp-route-currentCategory="Все">Все</a>
			</li>
			@foreach (var item in TelescopeCategoryList)
			{
				<li style="min-width: 200px"><a class="dropdown-item" asp-controller="Product" asp-action="Index" asp-route-category=@item.NormalizedName asp-route-currentCategory=@item.Name>@item.Name</a></li>
			}
		</ul>
	</div> 
	<!-- /categories dropdown -->



	@{
		await Html.RenderPartialAsync("_ProductCardsAndPagerPartial", new
		{
			CurrentCategory = currentCategory,
			Category = category,
			ReturnUrl = returnUrl,
			CurrentPage = currentPage,
			TotalPages = totalPages,
			Telescopes = Model,
			InAdminArea = false,
		});
	}
</div>