﻿@{
	var controller = ViewContext.RouteData.Values["Controller"]?.ToString()?.ToLower() ?? string.Empty;
	var area = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower() ?? string.Empty;
}
<!-- меню сайта -->
<a class="navbar-brand" href="#">WebLabs</a>
<div class="navbar-nav">
	<a class="nav-item nav-link @(controller=="home"?"active":"")" asp-controller="Home" asp-action="Index">Лб 1</a>
	<a class="nav-item nav-link @(controller=="product"?"active":"")" asp-controller="Product" asp-action="Index">Каталог</a>
	<a class="nav-item nav-link @(area== "Admin"?"active":"")" asp-area="Admin" asp-page="/Index">Администрирование</a>
</div>
<!-- меню сайта - конец -->